<ion-menu [content]="content" side="left">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col padding-top col-8>
            <span ion-text color="light">Welcome</span>
            <h2 ion-text class="no-margin bold text-white">
              {{userData?.displayName | titlecase}}
            </h2>
            <h2 *ngIf="userData?.company!=null" ion-text class="no-margin bold text-white">
              {{userData?.company | titlecase}}
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">

    <ion-list class="user-list sidebar">
      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
        <span ion-text color="primary">{{menuItem.title}}</span>
      </button>
      <ion-item *ngIf="userObj?.phone" menuToggle>
        <ion-icon item-left ios="ios-phone-portrait" md="md-phone-portrait" color="primary"></ion-icon>
        {{userObj?.phone}}
        <ion-buttons item-end>
          <button (click)='openPhoneModal(false)' menuToggle color="primary" ion-button icon-only clear small no-margin>
            <ion-icon name="create"></ion-icon>
          </button>
          <button (click)='deletePhoneDetails()' menuToggle color="primary" ion-button icon-only clear small no-margin>
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
      <button ion-item class="text-1x" (click)="openPhoneModal(true)" *ngIf="!userObj?.phone" menuToggle>
        <ion-icon item-left ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
        <span ion-text color="primary">Add Phone</span>
      </button>
      <button ion-item class="text-1x" *ngIf="!userObj?.card" (click)="openCardModal(true)" menuToggle>
        <ion-icon item-left ios="ios-card" md="md-card"></ion-icon>
        <span ion-text color="primary" tappable>Add Card</span>
      </button>
      <ion-item *ngIf="userObj?.card" menuToggle>
        <ion-icon item-left ios="ios-card" md="md-card" color="primary"></ion-icon>
        xxxx xxxx xxxx {{cardNumber | slice:12:16}} {{cardType}}

        <ion-buttons item-end>
          <button (click)='openCardModal(false)' menuToggle color="primary" ion-button icon-only clear small no-margin>
            <ion-icon name="create"></ion-icon>
          </button>
          <!-- <button (click)='deleteCardDetails()' menuToggle color="primary" ion-button icon-only clear small no-margin>
                  <ion-icon name="trash"></ion-icon>
              </button> -->
        </ion-buttons>

      </ion-item>

      <button ion-item class="text-1x" (click)="openCompanyModal(true)" *ngIf="!userObj?.company" menuToggle>
        <ion-icon item-left name="briefcase"></ion-icon>
        <span ion-text color="primary">Add Company Name</span>
      </button>
      <button ion-item class="text-1x" (click)="openCompanyModal(true)" *ngIf="userObj?.company" menuToggle>
        <ion-icon item-left name="briefcase"></ion-icon>
        <span ion-text color="primary">Update Company Name</span>
      </button>


      <button ion-item class="text-1x" (click)="message()">
        <ion-icon item-left ios="ios-text" md="md-text" color="primary"></ion-icon>
        <span ion-text color="primary">Text Support</span>
      </button>

      <button ion-item class="text-1x" (click)="logout()">
        <ion-icon item-left ios="ios-log-out" md="md-log-out" color="primary"></ion-icon>
        <span ion-text color="primary">Logout</span>
      </button>
    </ion-list>
  </ion-content>

  <ion-footer class="bar-stable" padding-left>
    <ion-item>Version: 1.0.0</ion-item>
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
