ion-thumbnail {
  min-height: 200px;
  background-size: cover;
  min-width: 100%;
}

.outline-icons {
  margin-top: 20px;
}

.package-bg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
