<ion-tabs>

  <ion-tab-bar color="primary" slot="bottom">

    <ion-tab-button tab="new">
      <ion-icon name="flash"></ion-icon>
      <ion-label>New Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="revision">
      <ion-icon name="rewind"></ion-icon>
      <ion-label>Revision Requested</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="delivered">
      <ion-icon name="send"></ion-icon>
      <ion-label>Delivered</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="completed">
      <ion-icon name="redo"></ion-icon>
      <ion-label>Complted Orders</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>